body{
	margin: 50px 20px 50px 20px;
	background-color: 
}

.nav{
	color: #ffff00;
	font-size: 20px;
}

.btn{
	font-size: 50px;
}

.jumbotron{
	font-size: 100px;
}

.well{
	color: #ffd700;
	font-size: 40px;
	padding: 20px 20px 20px 20px;
}